@use "../global/typography" as fonts;
@use "../util/functions" as util;

.nav {
    display: grid;
    grid-area: 1 / 1 / 2 / 4;

    position: sticky;

    background-color: var(--off-white);

    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.25);

    font-size: fonts.$desktop-l;

    max-height: util.rem(116);

    &__content {
        justify-self: center;

        list-style-type: none;

        padding: 0;

        &-link {
            display: inline-block;

            margin: util.rem(16);

            transition: color 200ms;
        }

        &-link--inactive:after {
            position: relative;

            display: block;

            content: "";

            border-style: solid;
            border-width: 0 0 util.rem(4) 0;
            border-color: var(--purple);

            transform: scaleX(0);
            transform-origin: left;

            transition: transform 200ms;
        }

        &-link--active {
            color: var(--purple);
        }
        
        &-link--active:after {
            position: relative;

            display: block;

            content: "";

            border-style: solid;
            border-width: 0 0 util.rem(4) 0;
            border-color: var(--purple);

            width: 100%;
        }

        &-link:nth-child(1){
            margin-left: 0;
        }

        &-link:nth-child(5){
            margin-right: 0;
        }
    }
}