@use "../util/functions" as util;

.nav a:hover {
    cursor: pointer;

    color: var(--purple);
}

.nav__content-link:hover::after {
    transform: scaleX(1);

    cursor: pointer;
}

.nav {
    &__content {
        &-icon:hover {
            color: var(--purple);
            
            cursor: pointer;
        }
    }
}

.content__projects-btn--purple:hover {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.footer a:hover {
    color: var(--purple);
}