@use "../util/functions" as util;

.nav a:hover {
    cursor: pointer;

    color: var(--purple);
}

.nav__content-link:hover::after {
    transform: scaleX(1);

    cursor: pointer;
}

.footer a:hover {
    color: var(--purple);
}